// .button-default {
//   @extend %button-reset;
// }

.button-global {
  @extend %button-reset;
  // ----------------------

  font-family: "Simpson";
  font-size: 2rem;
  font-weight: 500;
  color: var(--color-white);
  text-transform: uppercase;
  // ----------------------
  padding: 1rem 2rem;
  min-width: 18rem;
  border-radius: 0.5rem;
  transition: all 0.3s ease;
  // border: 1px solid #000;
  text-shadow:
    1px 1px 0 #000,
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    2px 2px 5px #000;

  box-shadow:
    0 3px 6px rgba(237, 236, 239, 0.3),
    0 -3px 6px rgba(0, 0, 0, 0.3),
    0 3px 12px rgba(0, 0, 0, 1);

  // ----------------------
  &:hover {
    box-shadow:
      0 3px 6px rgba(4, 4, 4, 0.3),
      0 -3px 6px rgba(0, 0, 0, 0.3),
      0 3px 12px rgba(0, 0, 0, 1);
  }

  // ----------------------
  &--forward {
    background-color: #d7bb0f;
    letter-spacing: 0.2rem;

    &:hover {
      background-color: #4a36b7;
      background-color: #918e91;
      // color: #d7bb0f;
      color: var(--color-white);
    }
  }

  // ----------------------
  &--reverse {
    background-color: #4a36b7;
    color: #d7bb0f;

    &:hover {
      background-color: #d7bb0f;
      background-color: #918e91;
      color: var(--color-white);
    }
  }
}
