//- mixins.pug






mixin EmpInfo()

  .emp-info
    h1.emp-info__title Учет сотруднико в компании: 
    h2(class='emp-info__subtitle') Общее количество сотрудников: <span id='total'></span>
    h2(class='emp-info__subtitle') Премию получат: <span id='premium'></span>

