//- mixins.pug
mixin EmpInfo(arg)

  -
    const isCompanny = arg.isAdmin ? 'Yes' : 'No' 
  -

  .emp-info
    h1 Учет сотруднико в компании #{isCompanny}
    h2 Общее количество сотрудников: #{arg.total}
    h2 Премию получат: #{arg.bonus}

