
//- -----------------------------------------------------------------------
//-:-------------------------------------- Path: Аliases
- const assetsPath = './assets';
- const scriptPath = './script';
- const stylesPath = './css' ;

//- ------------------------------------------------------------------------
//- !1010100101010110100101010101010100101010101001010101
//- -------------------------------------------------------------Gloval vars
- const assetsPathPage = '../assets';
- const scriptPathPage = '../script';
- const stylesPathPage = '../css' ;




//- -------------------------------------------------------------Gloval vars


