


mixin EmpFilter()
  -
    const label = 'Кнопка';

    const buttonData = [
      {  label: "Все сотрудники", name: "All", className: 'btn-filter btn btn-light'},
      {  label: "На повышение", name: "Rise",  className: 'btn-filter btn btn-outline-light'},
      {  label: "ЗП больше чем 1000$", name: "Salary",  className: 'btn-filter btn btn-outline-light'}
    ]

  -

  .btn-group
    each button in buttonData
      button(type='button' name=button.name class=button.className)= button.label




