

mixin Input-file()
  .file 
    .file__item
      input#formImage(type="file" name='image' accept='.jpg, .png, .gif, .txt').file__input
      button.file__button.button-global Add file
    .file__preview#formPreview File Photo