.accordion {
  &__item {
    & p:not(:last-child) {
      margin-bottom: 2rem;
    }
  }

  &__title {
    position: relative;
    text-align: left;
    width: 100%;
    font-size: 3rem;
    font-weight: 600;

    border: 1px solid var(--color-black);
    padding: 1rem;

    margin-bottom: 1rem;
  }

  &__text {
    font-size: 1.6rem;
    padding: 0 10px 10px;
    line-height: 110%;
  }
}

.accordion._init .accordion__title {
  cursor: pointer;
}

.accordion._init .accordion__title {
  padding: 10px 40px 10px 10px;
}

.accordion._init .accordion__title::before,
.accordion._init .accordion__title::after {
  content: "";
  width: 20px;
  height: 1px;
  background-color: currentColor;
  position: absolute;
  right: 10px;
  top: 20px;
  transition: transform 0.3s ease 0s;
}

.accordion._init .accordion__title::after {
  transform: rotate(-90deg);
}

.accordion._init .accordion__title._active::after {
  transform: rotate(0deg);
}
