

//- +_Accordion([{title:1, content: 'lorem'}], {}, {'data-spollers': '800, max'})
//- +_Accordion(null,{'data-one-spoller': ''}, {'data-spollers': '768, max'})


mixin _Accordion(customData, switchAttr, adaptiveAttr)
  -
    //- Возможное заполнение   
    const defaultData = [
      { 
        title: 'Первый', 
        active: '',
        content:
        `Для тих, хто цінує комфорт, фінансову свободу та високу якість життя. 
        Ми будуємо мости між культурами та економіками, які відкривають нові горизонти для інвесторів та підприємців. На стику партнерства та співпраці двох могутніх країн народжується унікальний простір для капіталовкладень, де кожен учасник стає співавтором нової економічної реальності`
      },
      { 
        title: 'Багаторівнева інвестиційна платформа', 
        active: '',
        content: `
        Від підтримки стартапів до реалізації масштабних міжнародних проектів.
        Наша політика спрямована на створення стабільного та передбачуваного економічного середовища.
        Глибоке розуміння та повага культури та цінностей партнера, юридичних та фінансових вимог на місцях є запорукою успіху у будь-якій справі.`
      },
      { 
        title: 'Прямий доступ до нових ринків', 
        active: '',
        content: `
        Ми відкриваємо двері на нові ринки, значно спрощуючи логістику, надаючи можливості для диверсифікації портфеля та розширення бізнесу.
        Наша політика спрямована на створення стабільного та передбачуваного економічного середовища.
        Глибоке розуміння та повага культури та цінностей партнера, юридичних та фінансових вимог на місцях є запорукою успіху у будь-якій справі.
        Ми відкриваємо двері на нові ринки, значно спрощуючи логістику, надаючи можливості для диверсифікації портфеля та розширення бізнесу.
        Наша політика спрямована на створення стабільного та передбачуваного економічного середовища.
        Глибоке розуміння та повага культури та цінностей партнера, юридичних та фінансових вимог на місцях є запорукою успіху у будь-якій справі.
        `
      },
      { 
        title: 'Технологічний оазис безпеки', 
        active: '',
        content: `
        Інтеграція передових IT-рішень гарантує безпеку та прозорість фінансових операцій.
        Глибоке розуміння та повага культури та цінностей партнера, юридичних та фінансових вимог на місцях є запорукою успіху у будь-якій справі.`
      },
      { 
        title: 'Податкова гавань', 
        active: '',
        content: `
        Завдяки особливій економічній стратегії партнери можуть розраховувати на максимальну рентабельність капіталу.
        Глибоке розуміння та повага культури та цінностей партнера, юридичних та фінансових вимог на місцях є запорукою успіху у будь-якій справі.
        Надати клієнтам по всьому світу комплексне рішення під ключ, завдяки якому вони зможуть отримати доступ до повного спектру професійних послуг у рамках однієї організації.
        `
      },
      { 
        title: 'Наша мета', 
        active: '',
        content: `
        Надати клієнтам по всьому світу комплексне рішення під ключ, завдяки якому вони зможуть отримати доступ до повного спектру професійних послуг у рамках однієї організації.
        Приєднуйтесь до нас і разом ми побудуємо економічне середовище, де кожен партнер стає ключовим гравцем на міжнародній арені, сприяючи розвитку світу та відкриваючи нові можливості для зростання та процвітання.
        `
      },
    ]
    
    const data = customData || defaultData 


    //- Управления атрибутами при активации
    const initAcc = adaptiveAttr ? adaptiveAttr : {'data-spollers': ''}
    const switchAcc = switchAttr ? switchAttr : {'data-one-spoller': ''}

    //- Завернуть каждое предложение в <p></p> После точки
    //- function formatContent(content) {
    //-   if (typeof content === 'string' && content.includes('.')) {
    //-     return content.split('.')
    //-       .filter(paragraph => paragraph.trim())
    //-       .map(paragraph => `<p>${paragraph.trim()}.</p>`).join('')
    //-   }
    //-   return content
    //- }
  
  -
  .accordion&attributes(attributes)&attributes(initAcc)&attributes(switchAcc)
    each item in data
      .accordion__item
        button.accordion__title(tabindex="-1" type="button" data-spoller='' class=item.active)
          span=item.title
        .accordion__text
          if item.content
            //- != formatContent(item.content)
            != item.content
          else if block 
            block
            




