//- ----------------------------Наследственность
//- extends ../shared/settings/pug/core/main.pug.pug
extends ../../app/pug/main.pug
//- ----------------------------Наследственность

//-! -------------------------------------- PART
//- include ../../shared/components/Accordion/_Accordion.pug

include ../../widgets/EmpInfo/_empInfo.pug
include ../../widgets/SearchPanel/_searchPanel.pug
include ../../widgets/EmpFilter/_empFilter.pug
include ../../widgets/EmpList/_empList.pug
include ../../widgets/EmpAddForm/_empAddForm.pug
//-! -------------------------------------- PART

//-* -------------------------------------HEAD
block settings
  -
    var settings = {
      title: 'Sandbox',
      lang: 'uk',
    }
  -
prepend connection 
  link(rel="stylesheet", href="./css/main.css")
//-* -------------------------------------HEAD


//-: --------------------------------------BODY

block content
  
  main.main 
    section.welcome
      +EmpInfo({ total: 150, bonus: 50, isAdmin: true })

      div.search-panel 
        +SearchPanel()
        +EmpFilter()
      +EmpList()
      +EmpAddForm()




block scripts
  script(type="module", src=`./script/app.js`)
//-: --------------------------------------BODY

